//resetPasswordGetEmailForm.ejs
@mixin resetPassword {
    .resetPasswordContainer {

        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        background-color: #f3f3f3;

        .resetPasswordWindow {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .passwordEmailForm {
                text-align: center;
                border: 10px solid black;
                padding: 5%;
                h1 {
                    margin-bottom: 20px;
                }

                button {
                    margin: 10px;
                }
                a {
                    text-decoration: none;
                    color: black;
                }
            }

            //resetPasswordForm.ejs
            .resetPasswordForm {
                border: 10px solid black;
                padding: 5%;
                text-align: center;
                background-image: url("/images/resetpasswordbackground.jpg");
                background-position: center;
                background-size: cover;
                color: white;
                opacity: 0.8;

                .errorMessages {
                    color: #ff6c5c;
                }

                button {
                    margin-top: 10px;
                }
            }
            //Use for checkMail.ejs
            .checkMail {
                border: 10px solid black;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 5%;

                h1 {
                    margin-bottom: 2%;
                }
                i {
                    margin-top: 5%;
                    margin-bottom: 5%;
                }
                

                a {
                    text-decoration: none;
                    color: black;
                    margin-top: 5%;
                }
                a:hover {
                    color: white;
                }
            }
        }
    }
}