<form action="/" method="post">
    <div class="inputSection">
        <label for="description">Add task:</label>
        <input class="form-control" id="description" type="textarea" name="description"/>
    </div>

    <div class="inputSection">
        <label for="priority">Priority (HIGH or LOW): </label>
        <input type="text" id="priority" class="form-control" name="priority" style="text-transform: uppercase;"/>
    </div>

    <input type="text" name="sortedDate" value="<%=sortedDate%>" hidden />
    <input type="text" name="page" value="<%=currentPage%>" hidden />

    <div class="inputSection">
        <label for="deadlineDate">Deadline date:</label>
        <div class="input-group mb-3 ">
            <input type="date" id="date" class="form-control" name="deadlineDate"/>
            <div class="input-group-append">
                <button type="submit" id="submitToAdd" class="btn btn-primary">+</button>
            </div>
        </div>
    </div>
</form>