<%- include("partials/_header.ejs") %>

<div class="resetPasswordContainer">
    <div class="resetPasswordWindow">
        <div class="checkMail">
            <h1>Forgot your password?</h1>

            <i class="far fa-paper-plane fa-9x"></i>
            
            <h3>An email has been sent your email address. Check your inbox!</h3>
            <a href="/resetPassword"><button class="btn btn-outline-dark">Didn't get anything? Resend mail!</button></a>
        </div>
    </div>
</div>