<%- include("partials/_header.ejs") %>

    <form action="/register" method="post">

        <div>

            <% for(let i=0; i<errors.length; i++) { %>
                <% if(errors[i].includes(' Name is required!')) {  %>
                <p> <%= errors[i] %> </p>
                <% } %>
            <% } %>    

            <input class="form-control" type="text" name="name" placeholder="Username">
        </div>
        <div>

            <% for(let i=0; i<errors.length; i++) { %> 
                <% if(errors[i].includes(' Email is required!')) {  %>
                <p> <%= errors[i] %> </p>
                <% } %>
            <% } %>  
            
            <input class="form-control" type="email" name="email" placeholder="Email">
        </div>
        <div>
            
            <% for(let i=0; i<errors.length; i++) { %> 
                <% if(errors[i].includes(' Password is required!')) {  %>
                    <p> <%= errors[i] %> </p>
                <% } %>
            <% } %>    

            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary">Register</button>

    </form>
</body>