<%- include("partials/_header.ejs") %>

<!-- Page where the user type in the email address to reset the password -->

<div class="resetPasswordContainer">
    <div class="resetPasswordWindow">

        <form class="passwordEmailForm" action="/resetPassword" method="post">
            
            <i class="fas fa-user-lock fa-9x"></i>
            <h1>Forgot your password?</h1>

            <% if(messages.error){ %>
                <p><%= messages.error %></p>
            <% } %>

            <div class="input-group">
                <input class="form-control" type="email" name="email" placeholder="Type in your email">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            </div>
            
            
            <button type="submit" class="btn btn-outline-dark">Send link</button>
            <button class="btn btn-outline-dark"><a href="/login">Go back!</a></button>
            
        </form>
    </div>
</div>