<%- include("partials/_header.ejs") %>

<div class="resetPasswordContainer">
    <div class="resetPasswordWindow">
        <form action="/resetPasswordForm" method="post" class="resetPasswordForm">

            <h1>Reset your password!</h1>
            
            <!--Error control in case user don't type in a password in the input tag-->
            <% for(let i=0; i<errors.length; i++) { %> 
                <% if(errors[i].includes(' Please type in a new password!')) {  %>
                    <p class="errorMessages"> <%= errors[i] %> </p>
                <% } %>
            <% } %>    

            <div class="input-group">
                <input class="form-control" type="password" name="password" placeholder="Type in your password">
                <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
            </div>  

            <input type="email" name="email" value="<%= email %>" hidden >
            <button type="submit" class="btn btn-outline-dark">Reset Password</button>

        </form>
    </div>
</div>


