/*background-image: url("/images/background.jpg");
background-size: cover;
background-repeat: no-repeat;*/
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f3f3f3;
  height: 100vh; }
  .wrapper h1 {
    color: #3c403d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center; }
  .wrapper .logout {
    text-align: center;
    text-decoration: none;
    margin-top: 2%;
    font-size: 30px;
    transition: 0.3s ease-in-out; }
  .wrapper .logout:hover {
    color: lightgreen;
    transition: color 0.3s ease-in-out; }
  .wrapper .divWrapperForNewTaskAndShowList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0; }
    .wrapper .divWrapperForNewTaskAndShowList .addItemWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      width: 100vh;
      padding: 5%;
      color: white;
      background-image: url("/images/background.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      margin: 0;
      border: 10px solid black; }
      .wrapper .divWrapperForNewTaskAndShowList .addItemWrapper .inputSection {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 1%; }
        .wrapper .divWrapperForNewTaskAndShowList .addItemWrapper .inputSection .errorMessages {
          color: #ff6c5c; }
    .wrapper .divWrapperForNewTaskAndShowList .todoListDiv {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 100vh;
      margin: 0;
      padding: 2%;
      background-color: #daded4;
      border: 10px solid black; }
      .wrapper .divWrapperForNewTaskAndShowList .todoListDiv .buttonDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 1%; }
        .wrapper .divWrapperForNewTaskAndShowList .todoListDiv .buttonDiv a {
          color: black;
          text-decoration: none;
          transition: color 0.3s; }
        .wrapper .divWrapperForNewTaskAndShowList .todoListDiv .buttonDiv a:hover {
          color: white;
          transition: color 0.3s; }
      .wrapper .divWrapperForNewTaskAndShowList .todoListDiv .showTodoList {
        display: flex;
        flex-direction: column; }
        .wrapper .divWrapperForNewTaskAndShowList .todoListDiv .showTodoList .showPrioAndDesc {
          display: flex;
          flex-direction: column; }
          .wrapper .divWrapperForNewTaskAndShowList .todoListDiv .showTodoList .showPrioAndDesc .taskHeader {
            text-decoration: underline; }
          .wrapper .divWrapperForNewTaskAndShowList .todoListDiv .showTodoList .showPrioAndDesc .showPrioAndDeadline {
            display: flex;
            flex-direction: column; }
            .wrapper .divWrapperForNewTaskAndShowList .todoListDiv .showTodoList .showPrioAndDesc .showPrioAndDeadline .priority {
              display: flex;
              flex-direction: row;
              justify-content: flex-end;
              font-size: 25px; }
              .wrapper .divWrapperForNewTaskAndShowList .todoListDiv .showTodoList .showPrioAndDesc .showPrioAndDeadline .priority .highPriority {
                color: #fc4445;
                margin-left: 10px; }
              .wrapper .divWrapperForNewTaskAndShowList .todoListDiv .showTodoList .showPrioAndDesc .showPrioAndDeadline .priority .lowPriority {
                color: blue;
                margin-left: 10px; }
            .wrapper .divWrapperForNewTaskAndShowList .todoListDiv .showTodoList .showPrioAndDesc .showPrioAndDeadline .deadline {
              display: flex;
              flex-direction: column;
              align-items: flex-end; }
        .wrapper .divWrapperForNewTaskAndShowList .todoListDiv .showTodoList .showLinksForFeatures {
          display: flex;
          flex-direction: row;
          justify-content: flex-end; }
          .wrapper .divWrapperForNewTaskAndShowList .todoListDiv .showTodoList .showLinksForFeatures .trashIcon {
            color: #fc4445;
            transition: 0.3s; }
          .wrapper .divWrapperForNewTaskAndShowList .todoListDiv .showTodoList .showLinksForFeatures .trashIcon:hover {
            color: darkred;
            transition: color 0.3s ease-in-out; }
          .wrapper .divWrapperForNewTaskAndShowList .todoListDiv .showTodoList .showLinksForFeatures .edit {
            transition: 0.3s; }
          .wrapper .divWrapperForNewTaskAndShowList .todoListDiv .showTodoList .showLinksForFeatures .edit:hover {
            color: lightblue;
            transition: color 0.3s ease-in-out; }
      .wrapper .divWrapperForNewTaskAndShowList .todoListDiv .pagination {
        display: flex;
        flex-direction: row;
        justify-content: center; }
        .wrapper .divWrapperForNewTaskAndShowList .todoListDiv .pagination a {
          margin-left: 5%;
          font-size: 150%;
          text-decoration: none;
          transition: 0.3s ease-in-out; }
        .wrapper .divWrapperForNewTaskAndShowList .todoListDiv .pagination .currentPage {
          text-decoration: underline; }
      .wrapper .divWrapperForNewTaskAndShowList .todoListDiv .emptyTodoOnPage {
        margin-top: 2%;
        font-size: 150%;
        text-decoration: none;
        transition: 0.3s ease-in-out; }
      .wrapper .divWrapperForNewTaskAndShowList .todoListDiv h2 {
        text-align: center; }
